<div>

<h1>Analyze Program - E-Score Analysis</h1>

<!-- 

3.3       Test Case T3


 -->

<!--  
<div class="panel panel-default template"> 
	<div class="row template">
		<div class="col-xs-3 hidden-xs">  
			<div class="h2">Test Case 3</div>
		</div>
		<div class="col-xs-9 col-sm-8 hidden-xs">
			<div class="template-padding">
				<div class="row">
					<h3>Test 3 - Risk scores should aggregate across multiple user specified criteria.
					</h3>
				
				</div>
				<div class="row" style="margin-top:10px;">
					<div class="col-xs-6">
						
						<div ng-repeat="keyword_set in keyword_sets">
							<label >
							  <input
							    type="checkbox"
							    name="keyword_sets[]"
							    value="{{keyword_set.name}}"
							    ng-checked="selection_test3.indexOf(keyword_set.name) > -1"
							    ng-click="toggleSelection(keyword_set.name)"
							  > {{keyword_set.name}} 
							</label>
						</div>
						
					</div>
				</div>
				<div class="row" style="margin-top:10px">
					<button class="btn btn-default" ng-click="test3()">
							Run Test 3
					</button>
				</div>
				<div class="row" ng-show="show_results_test3" style="margin-top:10px">
				
					<div class="row">
						<div class="col-md-6">
							
							<div class="row">
								<h4>Results for keyword sets: <span>{{selection_test3}}</span></h4><span><a href ng-click="show_test3_10 = !show_test3_10"><span ng-show="show_test3_10">Show All Results</span> <span ng-show="!show_test3_10">Show 10 Results</span></a></span>
							</div>
							<div class="row" style="margin-top:10px;">
								<div class="col-md-4">
								<strong>name</strong>
								</div>
								<div class="col-md-4">
								<strong>type</strong>
								</div>
								<div class="col-md-4">
								<strong>total score</strong>
								</div>
							</div>
							<div class="row">
								<hr />
							</div>
							<div class="row" ng-repeat="result in results_test3_10" ng-show="show_test3_10">
								<div class="row">
									<div class="col-md-4">
									{{result.name}}
									</div>
									<div class="col-md-4">
									{{result.type}}
									</div>
									<div class="col-md-4">
									{{result.total_score}}
									</div>
								</div>
								<div class="row">
								<hr />
								</div>
							</div>
							<div class="row" ng-repeat="result in results_test3" ng-show="!show_test3_10">
								<div class="row">
									<div class="col-md-4">
									{{result.name}}
									</div>
									<div class="col-md-4">
									{{result.type}}
									</div>
									<div class="col-md-4">
									{{result.total_score}}
									</div>
								</div>
								<div class="row">
								<hr />
								</div>
							</div>
						</div>
					</div>
				
				</div>
				
				
				
				<div class="row" style="margin-top:10px;" ng-show="show_results_test3">
					<div><h4>Test 3 {{test_result_test3 ? 'Passed' : 'Failed'}}</h4></div> 
				</div>
			</div>
		</div>	
	</div>
</div>

-->

<!-- 

3.4       Test Case T4

 -->

<div class="panel panel-default template"> 
	<div class="row template" >
		<div class="col-xs-3 hidden-xs">  
			<div class="h2">Test Case 4</div>
		</div>
		<div class="col-xs-9 col-sm-8 hidden-xs">
			<div class="template-padding">
				<div class="row">
					<h3>Test 4 - The user shall be able to differentially weight risk criteria
					</h3>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<h4>Default</h4>
						</div>
						<div class="row" style="margin-top:10px;">
							<div class="col-md-6">
							<strong>Keyword Set Name</strong>
							</div>
							<div class="col-md-6">
							<strong>Weight</strong>
							</div>
						</div>
						<hr />
						<div class="row" style="margin-top:10px;" ng-repeat="keyword_set in keyword_sets">
							<div class="col-md-6">
							{{keyword_set.name}}
							</div>
							<div class="col-md-6">
							  <label>Weight:
							    <input type="text" name="input" disabled value="1" size="4">
							  </label>
							</div>
						</div>
						<hr />
						
					</div>
					<div class="col-md-6">
						<div class="row">
							<h4>User-Defined Weights</h4>
						</div>
						<div class="row" style="margin-top:10px;">
							<div class="col-md-6">
							<strong>Keyword Set Name</strong>
							</div>
							<div class="col-md-6">
							<strong>Weight</strong>
							</div>
						</div>
						<hr />
						<div class="row" style="margin-top:10px;" ng-repeat="keyword_set in keyword_sets">
							<div class="col-md-6">
							{{keyword_set.name}}
							</div>
							<div class="col-md-6">
							  <label>Weight:
							    <input type="text" name="input" ng-model='weights[$index]' size="4" ng-value="weights[$index]">
							  </label>
							</div>
						</div>
						
						<hr />
						
						
					</div>
				</div>
				<div class="row" style="margin-top:10px;">
					<button class="btn btn-default" ng-click="test4()">
							Run Test 4
					</button>
				</div>
				
				<div class="row" ng-show="show_results_test4" style="margin-top:10px">
				
					<div class="row">
						<div class="col-md-6">
							
							<div class="row">
								<h4>Default Results </h4><span><a href ng-click="show_test4_10 = !show_test4_10"><span ng-show="show_test4_10">Show All Results</span> <span ng-show="!show_test4_10">Show 10 Results</span></a></span>
							</div>
							<div class="row" style="margin-top:10px;">
								<div class="col-md-4">
								<strong>name</strong>
								</div>
								<div class="col-md-4">
								<strong>type</strong>
								</div>
								<div class="col-md-4">
								<strong>total score</strong>
								</div>
							</div>
							<div class="row">
								<hr />
							</div>
							<div class="row" ng-repeat="result in results_test4_10" ng-show="show_test4_10">
								<div class="row">
									<div class="col-md-4">
									{{result.name}}
									</div>
									<div class="col-md-4">
									{{result.type}}
									</div>
									<div class="col-md-4">
									{{result.total_score}}
									</div>
								</div>
								<div class="row">
								<hr />
								</div>
							</div>
							<div class="row" ng-repeat="result in results_test4" ng-show="!show_test4_10">
								<div class="row">
									<div class="col-md-4">
									{{result.name}}
									</div>
									<div class="col-md-4">
									{{result.type}}
									</div>
									<div class="col-md-4">
									{{result.total_score}}
									</div>
								</div>
								<div class="row">
								<hr />
								</div>
							</div>
						</div>
						<div class="col-md-6">
							
							<div class="row">
								<h4>User Defined Results </h4><span><a href ng-click="show_test4_10 = !show_test4_10"><span ng-show="show_test4_10">Show All Results</span> <span ng-show="!show_test4_10">Show 10 Results</span></a></span>
							</div>
							<div class="row" style="margin-top:10px;">
								<div class="col-md-4">
								<strong>name</strong>
								</div>
								<div class="col-md-4">
								<strong>type</strong>
								</div>
								<div class="col-md-4">
								<strong>total score</strong>
								</div>
							</div>
							<div class="row">
								<hr />
							</div>
							<div class="row" ng-repeat="result in results_test4_10" ng-show="show_test4_10">
								<div class="row">
									<div class="col-md-4">
									{{result.name}}
									</div>
									<div class="col-md-4">
									{{result.type}}
									</div>
									<div class="col-md-4">
									{{result.total_score}}
									</div>
								</div>
								<div class="row">
								<hr />
								</div>
							</div>
							
							<div class="row" ng-repeat="result in results_test4" ng-show="!show_test4_10">
								<div class="row">
									<div class="col-md-4">
									{{result.name}}
									</div>
									<div class="col-md-4">
									{{result.type}}
									</div>
									<div class="col-md-4">
									{{result.total_score}}
									</div>
								</div>
								<div class="row">
								<hr />
								</div>
							</div>
						</div>
					</div>
				
				</div>
				
				
				<div class="row" style="margin-top:10px;" ng-show="show_results_test4">
					<div>Test 4 {{test4results.test4 ? 'Passed' : 'Failed'}}</div> 
				</div>
			</div>
		</div>	
	</div>
</div>
 







<!-- 

Test 5

 -->
<div class="panel panel-default template"> 
	<div class="row template" >
		<div class="col-xs-3 hidden-xs">  
			<div class="h2">Test Case 5</div>
		</div>
		<div class="col-xs-9 col-sm-8 hidden-xs">
			<div class="template-padding">
				<div class="row">
					<h3>Test 5 -  Risk scores should be deterministic. 
					</h3>
				</div>
				<div class="row"  style="margin-top:10px;">
					<div class="col-xs-4">
						
						<label>
					    	<input type="radio" ng-model="test5dataset.name" disabled="disabled" value="all">
						    all
						 </label><br/>
					  	<label>
					    	<input type="radio" ng-model="test5dataset.name" value="pubmedCentral_001" checked="checked" >
					    	pubmedCentral_001
					  	</label><br/>
					 	<label>
					    	<input type="radio" ng-model="test5dataset.name" disabled="disabled" value="pubmedCentral_01">
					    	pubmedCentral_01
					  	</label><br/>
					  	<label>
					    	<input type="radio" ng-model="test5dataset.name" disabled="disabled" value="pubmedCentral_1">
					    	pubmedCentral_1
					  	</label><br/>
					  	<label>
					    	<input type="radio" ng-model="test5dataset.name" disabled="disabled" value="pubmedCentral">
					    	pubmedCentral
					  	</label><br/>
					  	
  
					</div>
					<div class="col-xs-4">
						<label>
					    	<input type="radio" ng-model="test5numruns.name" value="1">
						    1 run
						 </label><br/>
						<label>
					    	<input type="radio" ng-model="test5numruns.name" disabled="disabled" value="100">
						    100 runs
						 </label><br/>
					  	<label>
					    	<input type="radio" ng-model="test5numruns.name" disabled="disabled" value="1000" checked="checked" >
					    	1000 runs
					  	</label><br/>
					 	<label>
					    	<input type="radio" ng-model="test5numruns.name" disabled="disabled" value="10000">
					    	10000 runs
					  	</label><br/>
					  	
					</div>
					<div class="col-xs-4">
						<label>
					    	<input type="radio" ng-model="test5numrecords.name" value="1" checked="checked">
						    1 record
						 </label><br/>
						<label>
					    	<input type="radio" ng-model="test5numrecords.name" disabled="disabled" value="100">
						    10 records
						 </label><br/>
					  	<label>
					    	<input type="radio" ng-model="test5numrecords.name" disabled="disabled" value="1000"  >
					    	All records
					  	</label><br/>
					  	
					</div>
				</div>
				<div class="row" style="margin-top:10px;">
					<button class="btn btn-default" ng-click="test5()">
							Run Test 5
					</button>
				</div>
				
				<div class="row" ng-show="show_results_test5" style="margin-top:10px">
				
					<div class="row">
						<div class="col-md-6">
							
							<div class="row">
								<h4>Results</h4>
							</div>
							
							
							<div class="row" style="margin-top:10px;">
								<div class="col-md-3" style="text-align:center">
								<strong>name</strong>
								</div>
								<div class="col-md-2" style="text-align:center">
								<strong>type</strong>
								</div>
								<div class="col-md-2" style="text-align:center">
								<strong>num iterations</strong>
								</div>
								<div class="col-md-2" style="text-align:center">
								<strong>mean score</strong>
								</div>
								<div class="col-md-2" style="text-align:center">
								<strong>range</strong>
								</div>
								<div class="col-md-1" style="text-align:center">
								
								</div>
							</div>
							
							<div class="row" style="margin-top:10px;" ng-repeat="result in results_test5_1">
								<div class="col-md-3">
								{{result.name}}
								</div>
								<div class="col-md-3">
								{{result.type}}
								</div>
								<div class="col-md-2">
								{{numiterations5}}
								</div>
								<div class="col-md-2">
								{{mean}}
								</div>
								<div class="col-md-2">
								{{range_test5}}
								</div>
							</div>
							<!--  
							<div class="row" ng-repeat="result in results_test3_10" ng-show="show_test3_10">
								<div class="row">
									<div class="col-md-4">
									{{result.name}}
									</div>
									<div class="col-md-4">
									{{result.type}}
									</div>
									<div class="col-md-4">
									{{result.total_score}}
									</div>
								</div>
								<div class="row">
								<hr />
								</div>
							</div>
							<div class="row" ng-repeat="result in results_test3" ng-show="!show_test3_10">
								<div class="row">
									<div class="col-md-4">
									{{result.name}}
									</div>
									<div class="col-md-4">
									{{result.type}}
									</div>
									<div class="col-md-4">
									{{result.total_score}}
									</div>
								</div>
								<div class="row">
								<hr />
								</div>
							</div>
							-->
						</div>
						<div class="col-md-6">
							<div class="row">
								<h4>Stats</h4>
							</div>
							<div class="row" style="margin-top:10px;">
								Mean: {{mean}}
							</div>
							<div class="row" style="margin-top:10px;">
								Max: {{max}}
							</div>
							<div class="row" style="margin-top:10px;">
								Min: {{min}}
							</div>
							<div class="row" style="margin-top:10px;">
								Variance: {{variance}}
							</div>
						</div>
					</div>
				
				</div>
				
				
				<div class="row" style="margin-top:10px;" ng-show="show_results_test5">
					<div>Test 5 {{test5results.test5 ? 'Passed' : 'Failed'}}</div> 
				</div>
			</div>
		</div>	
	</div>
</div>
















<!-- 

3.20     Test Case T20


 -->


<div class="panel panel-default template"> 
	<div class="row template" >
		<div class="col-xs-3 hidden-xs">  
			<div class="h2">Test Case 20</div>
		</div>

		<div class="col-xs-9 col-sm-8 hidden-xs">
			<div class="template-padding">
				<div class="row">
					<h3>Test 20 - The expected time to answer a user query is on the order of milliseconds (ms).  
						As the graph increases in size and complexity, the query-answer time increases.
					</h3>
				</div>
				<div class="row"  style="margin-top:10px;">
					<div class="col-xs-6">
						
						<label>
					    	<input type="radio" ng-model="test20dataset.name" disabled="disabled" value="all">
						    all
						 </label><br/>
					  	<label>
					    	<input type="radio" ng-model="test20dataset.name" value="pubmedCentral_001">
					    	pubmedCentral_001
					  	</label><br/>
					 	<label>
					    	<input type="radio" ng-model="test20dataset.name" disabled="disabled" value="pubmedCentral_01">
					    	pubmedCentral_01
					  	</label><br/>
					  	<label>
					    	<input type="radio" ng-model="test20dataset.name" disabled="disabled" value="pubmedCentral_1">
					    	pubmedCentral_1
					  	</label><br/>
					  	<label>
					    	<input type="radio" ng-model="test20dataset.name" disabled="disabled" value="pubmedCentral">
					    	pubmedCentral
					  	</label><br/>
					  	
  
 
					</div>
				</div>
				<div class="row" style="margin-top:10px;">
					<button class="btn btn-default" ng-click="test20()">
							Run Test 20
					</button>
				</div>
				<div class="row"  ng-show="show_results_test20">
				
					<div class="row">
						<div class="col-md-9">
							<h4 style="text-align:center">Results</h4>
						</div>
					</div>
					<div class="row" style="margin-top:10px;" >
				
						<div class="col-md-3" style="text-align:center">
							<strong>Input File</strong>
						</div>
						<div class="col-md-3" style="text-align:center">
							<strong>Number of rows</strong>
						</div>
						<div class="col-md-3" style="text-align:center">
							<strong>Query Time</strong>
						</div>
					</div>
					<div class="row" style="margin-top:10px;">
				
						<div class="col-md-3" style="text-align:center">
						{{results_test20.inputFile}}
						</div>
						<div class="col-md-3" style="text-align:center">
						{{results_test20.numRows}}
						</div>
						<div class="col-md-3" style="text-align:center">
						{{results_test20.queryTime}}
						</div>
					</div>
					<!--  
					<div class="row" style="margin-top:10px;">
						<div>Test 20 {{test21results.test20 ? 'Passed' : 'Failed'}}</div> 
					</div>
					-->
				</div>
				
			</div>
		</div>
	</div>
	
</div>




<!-- 

3.21     Test Case T21

 -->

<div class="panel panel-default template"> 
	<div class="row template" >
		<div class="col-xs-3 hidden-xs">  
			<div class="h2">Test Case 21</div>
		</div>

		<div class="col-xs-9 col-sm-8 hidden-xs">
			<div class="template-padding">
				<div class="row">
					<h3>Test 21 - Test    The expected time to process large datasets is on the order of hours (h).
					</h3>
				</div>
				<div class="row"  style="margin-top:10px;">
					<div class="col-xs-6">
						
						<label>
					    	<input type="radio" ng-model="test21dataset.name" disabled="disabled" value="all">
						    all
						 </label><br/>
					  	<label>
					    	<input type="radio" ng-model="test21dataset.name" value="pubmedCentral_001">
					    	pubmedCentral_001
					  	</label><br/>
					 	<label>
					    	<input type="radio" ng-model="test21dataset.name" disabled="disabled" value="pubmedCentral_01">
					    	pubmedCentral_01
					  	</label><br/>
					  	<label>
					    	<input type="radio" ng-model="test21dataset.name" disabled="disabled" value="pubmedCentral_1">
					    	pubmedCentral_1
					  	</label><br/>
					  	<label>
					    	<input type="radio" ng-model="test21dataset.name" disabled="disabled" value="pubmedCentral">
					    	pubmedCentral
					  	</label><br/>
					  	
  
 
					</div>
				</div>
				<div class="row" style="margin-top:10px;">
					<button class="btn btn-default" ng-click="test21()">
							Run Test 21
					</button>
				</div>
				<div class="row"  ng-show="show_results_test21">
				
					<div class="row">
						<div class="col-md-9">
							<h4 style="text-align:center">Results</h4>
						</div>
					</div>
					<div class="row" style="margin-top:10px;" >
				
						<div class="col-md-3" style="text-align:center">
							<strong>Input File</strong>
						</div>
						<div class="col-md-3" style="text-align:center">
							<strong>Number of rows</strong>
						</div>
						<div class="col-md-3" style="text-align:center">
							<strong>Query Time</strong>
						</div>
					</div>
					<div class="row" style="margin-top:10px;">
				
						<div class="col-md-3" style="text-align:center">
						{{results_test21.inputFile}}
						</div>
						<div class="col-md-3" style="text-align:center">
						{{results_test21.numRows}}
						</div>
						<div class="col-md-3" style="text-align:center">
						{{results_test21.queryTime}}
						</div>
					</div>
					<!--  
					<div class="row" style="margin-top:10px;">
						<div>Test 21 {{test21results.test21 ? 'Passed' : 'Failed'}}</div> 
					</div>
					-->
				</div>
				
			</div>
		</div>
	</div>
	
</div>














<!-- 

3.23     Test Case T23


 -->
<div class="panel panel-default template"> 
	<div class="row template" >
		<div class="col-xs-3 hidden-xs">  
			<div class="h2">Test Case 23</div>
		</div>
		<div class="col-xs-9 col-sm-8 hidden-xs">
			<div class="template-padding">
				<div class="row">
					<h3>Test 23 - System should produce the same results using the same input data and parameters on different computing systems, with the same hardware/software configurations.
					</h3>
				</div>
				<div class="row"  style="margin-top:10px;">
					<div class="col-xs-6">
						
						<label>
					    	<input type="radio" ng-model="test23dataset.name" disabled="disabled" value="all">
						    all
						 </label><br/>
					  	<label>
					    	<input type="radio" ng-model="test23dataset.name" value="pubmedCentral_001" checked >
					    	pubmedCentral_001
					  	</label><br/>
					 	<label>
					    	<input type="radio" ng-model="test23dataset.name" disabled="disabled" value="pubmedCentral_01">
					    	pubmedCentral_01
					  	</label><br/>
					  	<label>
					    	<input type="radio" ng-model="test23dataset.name" disabled="disabled" value="pubmedCentral_1">
					    	pubmedCentral_1
					  	</label><br/>
					  	<label>
					    	<input type="radio" ng-model="test23dataset.name" disabled="disabled" value="pubmedCentral">
					    	pubmedCentral
					  	</label><br/>
					  	
					  	<tt>dataset = {{test21dataset.name | json}}</tt><br/>
  
 
					</div>
				</div>
				
				<div class="row" style="margin-top:10px;">
					<button class="btn btn-default" ng-click="test23('pubmedCentral_001','query1')">
							Run Test 23
					</button>
				</div>
				
				<div class="row" style="margin-top:10px;">
				
					<div class="col-md-4">
						<strong>ORNL Project Spark cluster</strong>
						<div><a href ng-click="showORNL = !showORNL"><span ng-show="showORNL">Hide</span> <span ng-show="!showORNL">Show</span> Configuration Details</a></div>
						<div ng-show="showORNL">{{ornl_details}}</div>
					</div>
					<div class="col-md-4">
						<strong>LLNL System</strong>
						<div><a href ng-click="showLLNL = !showLLNL"><span ng-show="showLLNL">Hide</span> <span ng-show="!showLLNL">Show</span> Configuration Details</a></div>
						<div ng-show="showLLNL">{{llnl_details}}</div>
					</div>
					<div class="col-md-4">
						<strong>HSARPA Big Data System</strong>
						<div><a href ng-click="showHSARPA = !showHSARPA"><span ng-show="showHSARPA">Hide</span> <span ng-show="!showHSARPA">Show</span> Configuration Details</a></div>
						<div ng-show="showHSARPA">{{hsarpa_details}}</div>
					</div>
				</div>
				
				<div class="row" ng-show="show_results_test23">
					
					<div class="row" style="margin-top:10px;">
						<div class="col-md-4">
							<div class="row">
							<h4 style="text-align:center">ORNL Results</h4><span><a href ng-click="show_test23_10 = !show_test23_10"><span ng-show="show_test23_10">Show All Results</span> <span ng-show="!show_test23_10">Show 10 Results</span></a></span>
							</div>
							<div class="row">
								<div class="col-md-4">
								<strong>name</strong>
								</div>
								<div class="col-md-4">
								<strong>type</strong>
								</div>
								<div class="col-md-4">
								<strong>total score</strong>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
							<h4 style="text-align:center">LLNL Results</h4><span><a href ng-click="show_test23_10 = !show_test23_10"><span ng-show="show_test23_10">Show All Results</span> <span ng-show="!show_test23_10">Show 10 Results</span></a></span>
							</div>
							<div class="row">
								<div class="col-md-4">
								<strong>name</strong>
								</div>
								<div class="col-md-4">
								<strong>type</strong>
								</div>
								<div class="col-md-4">
								<strong>total score</strong>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
							<h4 style="text-align:center">HSARPA Results</h4><span><a href ng-click="show_test23_10 = !show_test23_10"><span ng-show="show_test23_10">Show All Results</span> <span ng-show="!show_test23_10">Show 10 Results</span></a></span>
							</div>
							<div class="row">
								<div class="col-md-4">
								<strong>name</strong>
								</div>
								<div class="col-md-4">
								<strong>type</strong>
								</div>
								<div class="col-md-4">
								<strong>total score</strong>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<hr />
					</div>
					<div class="row" style="margin-top:10px;">
						<div class="col-md-4">
						
							<div class="row" ng-repeat="results in results_test23" ng-show="!show_test23_10">
								<div class="row">
									<div class="col-md-4">
									{{results.name}}
									</div>
									<div class="col-md-4">
									{{results.type}}
									</div>
									<div class="col-md-4">
									{{results.total_score}}
									</div>
								</div>
								<div class="row">
								<hr />
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row" ng-repeat="results in test23LLNLresults" ng-show="!show_test23_10">
								<div class="col-md-4">
								{{results.name}}
								</div>
								<div class="col-md-4">
								{{results.type}}
								</div>
								<div class="col-md-4">
								{{results.total_score}}
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row" ng-repeat="results in test23HSARPAresults" ng-show="!show_test23_10">
								<div class="col-md-4">
								{{results.name}}
								</div>
								<div class="col-md-4">
								{{results.type}}
								</div>
								<div class="col-md-4">
								{{results.total_score}}
								</div>
							</div>
						</div>
					</div>
					<div class="row" style="margin-top:10px;">
						<div class="col-md-4">
						
							<div class="row" ng-repeat="results in results_test23_10" ng-show="show_test23_10">
								<div class="row">
									<div class="col-md-4">
									{{results.name}}
									</div>
									<div class="col-md-4">
									{{results.type}}
									</div>
									<div class="col-md-4">
									{{results.total_score}}
									</div>
								</div>
								<div class="row">
								<hr />
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row" ng-repeat="results in test23LLNLresults" ng-show="show_test23_10">
								<div class="col-md-4">
								{{results.name}}
								</div>
								<div class="col-md-4">
								{{results.type}}
								</div>
								<div class="col-md-4">
								{{results.total_score}}
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row" ng-repeat="results in test23HSARPAresults" ng-show="show_test23_10">
								<div class="col-md-4">
								{{results.name}}
								</div>
								<div class="col-md-4">
								{{results.type}}
								</div>
								<div class="col-md-4">
								{{results.total_score}}
								</div>
							</div>
						</div>
					</div>
					<div class="row" style="margin-top:10px;">
						<div>Test 23 {{test23results.test23 ? 'Passed' : 'Failed'}}</div> 
					</div>
				</div>	
			</div>
		</div>	
	</div>
</div>



</div>


				<!-- <div class="row">
					<div class="col-md-6">
						
						<div class="row">
							<h4 style="text-align:center">Results</h4>
						</div>
						<div class="row">
							<div class="col-md-4">
							<strong>name</strong>
							</div>
							<div class="col-md-4">
							<strong>type</strong>
							</div>
							<div class="col-md-4">
							<strong>total score</strong>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						
						
						<div class="row">
							<h4 style="text-align:center">Results</h4>
						</div>
						<div class="row">
							<div class="col-md-4">
							<strong>name</strong>
							</div>
							<div class="col-md-4">
							<strong>type</strong>
							</div>
							<div class="col-md-4">
							<strong>total score</strong>
							</div>
						</div>
					</div>
				</div> -->
				
				
				
				

 <!--  
<div class="panel panel-default template"> 
	<div class="row template" >
		<div class="col-xs-3 hidden-xs">  
			<div class="h2">Test Case 21</div>
		</div>
		<div class="col-xs-9 col-sm-8 hidden-xs">
			<div class="template-padding">
				<div class="row">
					<h3>Test 21 - Test    The expected time to process large datasets is on the order of hours (h).
					</h3>
				</div>
				
				<div class="row"  style="margin-top:10px;">
					<div class="col-xs-6">
						
						<label>
					    	<input type="radio" ng-model="test21dataset.name" value="all">
						    all
						 </label><br/>
					  	<label>
					    	<input type="radio" ng-model="test21dataset.name" value="pubmedCentral_001">
					    	pubmedCentral_001
					  	</label><br/>
					 	<label>
					    	<input type="radio" ng-model="test21dataset.name" value="pubmedCentral_01">
					    	pubmedCentral_01
					  	</label><br/>
					  	<label>
					    	<input type="radio" ng-model="test21dataset.name" value="pubmedCentral_1">
					    	pubmedCentral_1
					  	</label><br/>
					  	<label>
					    	<input type="radio" ng-model="test21dataset.name" value="pubmedCentral">
					    	pubmedCentral
					  	</label><br/>
					  	
					  	<tt>dataset = {{test21dataset.name | json}}</tt><br/>
  
 
					</div>
				</div>
				<div class="row" style="margin-top:10px;">
					<button class="btn btn-default" ng-click="test21()">
							Run Test 21
					</button>
				</div>
				<div class="row">
					<div class="col-md-9">
						<h4 style="text-align:center">Results</h4>
					</div>
				</div>
				<div class="row" style="margin-top:10px;" >
				
					<div class="col-md-3" style="text-align:center">
						<strong>Input File</strong>
					</div>
					<div class="col-md-3" style="text-align:center">
						<strong>Number of rows</strong>
					</div>
					<div class="col-md-3" style="text-align:center">
						<strong>Total Time</strong>
					</div>
				</div>
				<div class="row" style="margin-top:10px;" ng-repeat="result in test21results">
				
					<div class="col-md-3">
					{{result.input_file}}
					</div>
					<div class="col-md-3">
					{{result.numrows}}
					</div>
					<div class="col-md-3">
					{{result.total_time}}
					</div>
				</div>
				<div class="row" style="margin-top:10px;">
					<div>Test 21 {{test21results.test21 ? 'Passed' : 'Failed'}}</div> 
				</div>
			</div>
		</div>	
	</div>
</div>
-->






				