<div>

ingest page


<div class="panel panel-default template"> 
	<div class="row template">
		<div class="col-xs-3 hidden-xs">  
			<div class="h1">Test Case 20</div>
		</div>

		<div class="col-xs-9 col-sm-8 hidden-xs">
			<div class="template-padding">
				<div class="row">
					<h4>Test 20 - The expected time to answer a user query is on the order of milliseconds (ms).  
						As the graph increases in size and complexity, the query-answer time increases.
					</h4>
				</div>
				<div class="row">
					<div class="col-xs-6">
			
						<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    Datasets
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li><a href="#">All</a></li>
						    <li><a href="#">pubmedCentral_001</a></li>
						    <li><a href="#">pubmedCentral_01</a></li>
						    <li><a href="#">pubmedCentral_1/a></li>
						    <li><a href="#">pubmedCentral/a></li>
						  </ul>
						</div>
					</div>
				</div>
			<!--  
				<button class="btn btn-default dropdown-toggle"> 
					# Records
					
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="#">All</a>
				</ul>
			-->
			</div>
			<!--  
			<div class="template-padding">
				<div class="btn btn-default"> 
					Upload 
					<span class="glyphicon glyphicon-upload text-center upload">
					</span>
				</div>
		
			</div>
			-->
		</div>
	</div>
	
</div>
<div class="panel panel-default template"> 
	<div class="row template">
		<div class="col-xs-3 hidden-xs">  
			<div class="h1">Test Case 20</div>
		</div>
	</div>
</div>
<div class="panel panel-default template"> 
	<div class="row template">
		<div class="col-xs-3 hidden-xs">  
			<div class="h1">Test Case 21</div>
		</div>

	</div>
</div>
<div class="panel panel-default template"> 
	<div class="row template">
		<div class="col-xs-3 hidden-xs">  
			<div class="h1">Test Case 23</div>
		</div>

	</div>
</div>

</div>