<h2>eScore 2.0 Requirements and Test Methods</h2> 
<div class=bs-example data-example-id=bordered-table> 
	<table class="table table-bordered table-hover"> 
		<thead> 
			<tr> 
				<th>Req ID</th> 
				<th>Requirement</th> 
				<th>Test Case ID</th> 
				<th>IN</th> 
				<th>AN</th> 
				<th>DEM</th> 
				<th>EXE</th> 
			</tr> 
		</thead> 
		<tbody> 
			<tr> 
				<th scope=row>R1</th> 
				<td>System shall use relational dataset(s) that can be summarized using graph constructs</td> 
				<td>T1</td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
				<td></td>
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
				<td></td>
			</tr> 
			<tr> 
				<th scope=row>R2</th> 
				<td>Calculate and persist a unique risk score for each entitiy (e.g. people, places, organizations) extracted from a historuical corpus of semi-structured and/or unstructured data</td> 
				<td>T2</td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
				<td></td>
				<td></td>
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
			</tr> 
			<tr> 
				<th scope=row>R3</th> 
				<td>
				Risk scores should aggregate across multiple user-specified criteria</td> 
				<td>T3</td> 
				<td></td>
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
				<td></td>
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
			</tr> 
			<tr> 
				<th scope=row>R4</th> 
				<td>
				Allow user to differentially weight risk criteria
				</td> 
				<td>T4</td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
				<td></td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
			</tr> 
			<tr> 
				<th scope=row>R5</th> 
				<td>
				Risk scores should be deterministic
				</td> 
				<td>T5</td> 
				<td></td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
				<td></td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
			</tr>  
			<tr> 
				<th scope=row>R6</th> 
				<td>
				Risk scores should account for multi-hop traversals across underlying graph of interconnections between entities and keywords of interest
				</td> 
				<td>T6</td> 
				<td></td> 
				<td></td> 
				<td></td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
			</tr>   
			<tr> 
				<th scope=row>R7</th> 
				<td>
				Characterize or distinguish high-risk entities from lower risk entities (where risk is specified by proximity to various risk criteria of interest to a user)
				</td> 
				<td>T7</td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
				<td></td> 
				<td></td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
			</tr>  
			<tr> 
				<th scope=row>R8</th> 
				<td>
				Risk criteria should be composed of multiple individual components (i.e., sets of keywords regarding a particular topic that might be of interest to a user such as “Threat Agents and Precursors”)
				</td> 
				<td>T8</td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
				<td></td> 
				<td></td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
			</tr> 
			<tr> 
				<th scope=row>R9</th> 
				<td>
				For investigative purposes, a user should be informed on which particular risk criteria contributed to a given entity’s risk score
				</td> 
				<td>T9</td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
				<td></td> 
				<td></td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
			</tr> 
			<tr> 
				<th scope=row>R10</th> 
				<td>
				Identification of domain-specific patterns of concern
				</td> 
				<td>T10</td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
				<td></td> 
				<td></td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
			</tr> 
			<tr> 
				<th scope=row>R11</th> 
				<td>
				Both full pattern matches and partial matches are of interest
				</td> 
				<td>T11</td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
				<td></td> 
				<td></td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
			</tr> 
			<tr> 
				<th scope=row>R12</th> 
				<td>
				Provide a summary of risk scores and pattern matches
				</td> 
				<td>T12</td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
				<td></td> 
				<td></td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
			</tr> 
			<tr> 
				<th scope=row>R13</th> 
				<td>
				The summaries should be use-case specific and not rely on a single schema or ontology for every use case
				</td> 
				<td>T13</td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
				<td></td> 
				<td></td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
			</tr> 
			<tr> 
				<th scope=row>R14</th> 
				<td>
				Risk scores should take into account the frequency of connection between entities as well as the distance of the connection
				</td> 
				<td>T14</td> 
				<td></td> 
				<td></td> 
				<td></td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
			</tr> 
			<tr> 
				<th scope=row>R15</th> 
				<td>
				System should be capable of updating the risk scores as new data becomes available
				</td> 
				<td>T15</td> 
				<td></td> 
				<td></td> 
				<td></td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
			</tr> 
			<tr> 
				<th scope=row>R16</th> 
				<td>
				System should be capable of allowing users to investigate results by pulling up raw data associated with results of interest
				</td> 
				<td>T16</td> 
				<td></td> 
				<td></td> 
				<td></td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
			</tr> 
			<tr> 
				<th scope=row>R17</th> 
				<td>
				System should leverage open source state-of-the-art distributed computing and graph analytics software so that there is a clear upgrade path as technology evolves and improves
				</td> 
				<td>T17</td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
				<td></td> 
				<td></td> 
				<td></td> 
			</tr> 
			<tr> 
				<th scope=row>R18</th> 
				<td>
				Approach must be generalizable and application-agnostic
				</td> 
				<td>T18</td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
				<td></td> 
				<td></td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
			</tr> 
			<tr> 
				<th scope=row>R19</th> 
				<td>
				System should be capable of processing millions of documents, should be capable of operating on a distributed computing platform, and performance should scale with additional hardware (nodes and memory)
				</td> 
				<td>T19</td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
				<td></td> 
				<td></td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
			</tr> 
			<tr> 
				<th scope=row>R20</th> 
				<td>
				The time eScore takes to answer user queries should be as close to real-time as possible
				</td> 
				<td>T20</td> 
				<td></td> 
				<td></td> 
				<td></td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
			</tr> 
			<tr> 
				<th scope=row>R21</th> 
				<td>
				Extract, transform, and load (ETL) and eScore algorithm processing speed for large datasets must be possible offline (e.g., overnight)
				</td> 
				<td>T21</td> 
				<td></td> 
				<td></td> 
				<td></td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
			</tr> 
			<tr> 
				<th scope=row>R22</th> 
				<td>
				User interactive sessions should not take more than a couple of minutes for moderate sized queries against indexed/loaded data
				</td> 
				<td>T22</td> 
				<td></td> 
				<td></td> 
				<td></td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
			</tr> 
			<tr> 
				<th scope=row>R23</th> 
				<td>
				System should produce the same results using the same input data and parameters on different computing systems, with the same hardware/software configurations
				</td> 
				<td>T23</td> 
				<td></td> 
				<td></td> 
				<td></td> 
				<td><img src="/img/checkmark.png" style="margin-left:5px;;max-height:10px;"></img></td> 
			</tr> 
		</tbody> 
	</table> 
	
	
	</div> <figure class=highlight><pre><code class=language-html data-lang=html><span class=nt>&lt;table</span> <span class=na>class=</span><span class=s>"table table-bordered"</span><span class=nt>&gt;</span>